<div class="center hero-unit">
    <h1>Welcome to the iSwitched</h1>

    <h2>Your guide to navigating the convoluted and lengthy course packages called majors, minors, and whatnot!
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>